<h1 style="position: absolute; margin-top: 70px; margin-left: 40px; font-weight: 100;">Ready Center</h1>

<h5 style="position: absolute; margin-top: 140px; margin-left: 40px; font-weight: 400; font-size: 1.44rem;">Ready For Anything</h5>

<img class="z-depth-2" style="width: 100%; max-height: 800px;" src="images/black-white-city2.jpg">
<!-- <div class="section"></div>
<div class="section"></div>
<div class="center-align">	<i class="mdi-hardware-keyboard-arrow-down" style="font-size: 40px;"></i>
</div>
<div class="section"></div> -->
<div class="section"></div>
<div class="col s12" style="padding: 0px;">
    <div class="card-panel light blue darken-1 z-depth-2" style="margin-bottom: 0; border-radius: 0;">
        	<h4 style="font-size: 3.28rem;" ui-sref="addfooditem" class="center-align grey-text text-lighten-5" style="margin: 5;">Let's get started!</h4>

    </div>
</div>
<div class="seven">
    <div class="row"></div>
    <div class="row"></div>
      <div class="row"></div>
     <div class="row">
        <div class="col s4 m4 s4 offset-s0 offset-m0 offset-s0">
                <div class="card-panel grey lighten-5 z-depth-3">
                        <h4 style="margin-top: 0;" class="center-align">New Location</h4>

                    <div class="center-align">  <a ui-sref="addNewLocation"><img class="responsive-img circle z-depth-1 activeShadow" src="images/locations.jpg"></a>

                    </div>
                </div>
            </div>
            <div class="col s4 m4 s4 offset-s0 offset-m0 offset-s0">
                <div class="card-panel grey lighten-5 z-depth-3">
                        <h4 style="margin-top: 0;" class="center-align">Store food</h4>

                    <div class="center-align">  <a ui-sref="addfooditem"><img class="responsive-img circle z-depth-1 activeShadow" src="images/vegy.jpg"></a>

                    </div>
                </div>
            </div>
            <div class="col s4 m4 s4 offset-s0 offset-m0 offset-s0">
                <div class="card-panel grey lighten-5 z-depth-3">
                    <h4 style="margin-top: 0;" class="center-align">Store Gear</h4>

                    <div class="center-align">  <a ui-sref="addfooditem"><img class="responsive-img circle z-depth-1 activeShadow" src="images/tools1.jpg"></a>

                    </div>
                </div>
            </div>
        </div>
  <div class="row"></div>
  <div class="row"></div>

</div>

<img style="width: 100%; max-height: 400px;" src="images/stairway.jpg">

<!-- Footer -->
<footer class="page-footer gray darken-4">
    <div class="footer-copyright gray darken-4">
      <div class="seven">
            <div class="left">
            © 2014 Copyright Text
            </div>
            <div class="right" style="margin-top: 9px;">
            <span class='st_facebook_large' displayText='Facebook'></span>
            <span class='st_twitter_large' displayText='Tweet'></span>
            <span class='st_pinterest_large' displayText='Pinterest'></span>
        </div>
          </div>
      </div>
</footer>

