    <div class="seven">
    <div class="section"></div>
    <h3 style="font-weight: 100;">What are you going to do first?</h3>
    <div class="section"></div>

        <div class="row"></div>
        <div class="row valign-wrapper" style="padding-left: 5%; margin-bottom: 1%">
        <div class="col s9 m9 ">
            <a ui-sref="addNewLocation"><h4 style="font-weight: 100;">Create a Sub-Location?</h4></a>
        </div>
        <div class="col s4 m4 l4 offset-s4 offset-m0 offset-s0" style="max-width: 200px">
            <div class="card-panel grey lighten-5 z-depth-3" style="">
                    <div class="center-align">  <a ui-sref="addNewLocation"><img class="responsive-img circle z-depth-1 activeShadow" src="images/locations.jpg"></a>
                    </div>
                </div>
            </div>
        </div>
                <div class="row valign-wrapper" style="padding-left: 5%; margin-bottom: 1%">
        <div class="col s9 m9 ">
            <a ui-sref="addfooditem"><h4 style="font-weight: 100;">Store some food?</h4></a>
        </div>
        <div class="col s4 m4 l4 offset-s0 offset-m0 offset-s0" style="max-width: 200px">
            <div class="card-panel grey lighten-5 z-depth-3" style="">
                    <div class="center-align">  <a ui-sref="addfooditem"><img class="responsive-img circle z-depth-1 activeShadow" src="images/vegy.jpg"></a>
                    </div>
                </div>
            </div>
        </div>
                <div class="row valign-wrapper" style="padding-left: 5%; margin-bottom: 1%">
        <div class="col s9 m9 ">
            <a ui-sref="addgearitem"><h4 style="font-weight: 100;">Store some gear?</h4></a>
        </div>
        <div class="col s4 m4 l4 offset-s0 offset-m0 offset-s0" style="max-width: 200px">
                <div class="card-panel grey lighten-5 z-depth-3" style="">
                    <div class="center-align">  <a ui-sref="addgearitem"><img class="responsive-img circle z-depth-1 activeShadow" src="images/tools1.jpg"></a>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="section"></div>
</div>